<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shensang Shopping Cart</title>
</head>
<body>
    <div>
        <h2>Your cart</h2>
        <p data-th-if="${itemList.isEmpty()}">Your cart is empty.</p>
        <table>
            <tr data-th-each="it : ${itemList}" data-th-object="${it}">
                <td data-th-text="*{product}"></td>
                <td data-th-text="*{unitPrice}"></td>
                <td data-th-text="*{discount}"></td>
                <td data-th-text="*{quantity}"></td>
            </tr>
        </table>
        <a href="/">Add more items</a>
        <a data-th-href="@{/cart/checkout}">Checkout</a>
    </div>
</body>
</html>